/* /////////////////////// 
 -------    Root   -------- 
/////////////////////// */
  
:root {
 --white: #ffffff;
 --black: #000000;
 --black2 : #151515;
 --transparent-black: #00000089;
 --transparent-white: #9d9d9d7b;
 --transparent-white1: #ffffff5c;
 --transparent-gray: #ffffff76;
 --transparent-gray1: #3c3c3c3b;
 --gray : #515151;
 --gray1: #cdcdcd;
 --gray2: #808080;
 --body-gray: #626262;
 --sand-color: #e2d2908d;
 --sand: #ddce9a;
 --gold: #ffd700;
 --crem: #dad3a5;
 --transparent-sand:  #ddcf9a9c;
 --transparent-sand1:  #ddcf9acc;
 --crem1: #bbb774;
 --white-yellow: #f9f2c7;
}

/* /////////////////////// 
--------   body   -------- 
/////////////////////// */

body {
  background-color: var(--white);
}

/* /////////////////////// 
--------   Nav   -------- 
/////////////////////// */

.active {
  color: var(--black);
  background-color: var(--transparent-sand1);
}
  
nav {
  background-color: var(--transparent-sand);
}
  
nav a {
  color: var(--white);
  background-color: var(--transparent-black);
  border: 1.5px solid var(--black);
}
  
nav a:hover {
  background-color: var(--gray);
  color: var(--white);
}
  
.hamburger span {
  background-color: var(--black);
}

.hamburger {
    background-color: var(--transparent);
}

/* /////////////////////// 
-------   Section   ------- 
/////////////////////// */

section div {
  border: 2px solid var(--white);
  background-color: var(--white);
}

.btnBlack{
  background: linear-gradient(45deg, var(--black) , var(--gray));
}

.btnWhite{
  background: linear-gradient(45deg, var(--white) , var(--gray1));
}

h1 {
  color: var(--black);
}

video {
  border: solid 3px var(--crem);
}
   
/* /////////////////////// 
--------   Main   -------- 
/////////////////////// */

.mainHome {
  background-color: var(--sand);
}

.mainDetails{
  background-color: var(--white);
}

.recenzii{
  background-color: var(--white);
}

.recenzii div{
  color: var(--gold);
}

/* /////////////////////// 
-------   Footer   ------- 
/////////////////////// */

footer{
  background-color: var(--sand);
}

footer a {
  background-color: var(--white);
  color: var(--sand);
}

/* /////////////////////// 
--------   Products   -------- 
/////////////////////// */

.title{
  background-color: var(--crem);
}

.mainProducts{
  background-color: var(--crem);
}

.mainProducts > div {
  background-color: var(--white);
}

.mainProducts p {
  box-shadow: 0px 0px 4px 0px var(--crem1);
}

.showDetails {
  background-color: var(--white-yellow);
  color: var(--black);
  border: 1px solid var(--body-gray);
}

.showDetails:hover {
  background-color: var(--crem1);
}

/* /////////////////////// 
--------   About   -------- 
/////////////////////// */

.aboutMain {
  background-color: var(--crem);
}

.aboutMain h2 {
  background-color: var(--white);
}

.aboutMain h3 {
  background-color: var(--white);
}

.aboutMain p {
  background-color: var(--transparent-gray);
}

.aboutMain li {
  background-color: var(--transparent-gray);
}

.aboutMain p, li {
  color: var(--black);
}

/* /////////////////////// 
-------   Contact   ------- 
/////////////////////// */

.mainContact {
  background-color: var(--crem);
}

.contact {
  background-color: var(--transparent-gray1);
}

.contact h2 {
  background-color: var(--transparent-white1);
}